.fill {
    border: 1px dotted green;
    padding: 10px;
    color: green;
}

.fill > *{
    display: inline-block;
    margin-right: 20px;
}

span{
    font-style: italic;
}

.descartat {
    text-decoration: line-through;
}