<div>
    <div class="section">
        Benvingut/da a <b>{{ titol }}</b>
    </div>


    <div class="section">
        <p>Exemple d'ús de @Input entre components (pare => fill): Es definix una propietat en el fill, però se li posa valor des del pare</p>
        <p>Exemple d'ús de @Output entre components (fill => pare): Es genera un event al fill que desencadena un mètodel del pare (passant-li paràmetres)</p>       
        <hr>
        <app-pare></app-pare>
    </div>

    <div class="section">
        <p>Exemple de Directiva estructural *ngFor</p>
        <hr>
        <app-exdirectivafor></app-exdirectivafor>
    </div>

    <div class="section">
        <p>Exemple de Directiva d'atribut [ngClass]</p>
        <hr>
        <app-exdirectivaclass></app-exdirectivaclass>
    </div>

    <div class="section">
        <p>Exemple de Directiva estructural *ngIf</p>
        <hr>
        <app-exdirectivaif></app-exdirectivaif>
    </div>

    <div class="section">
        <p>Exemple de Two-way Binding</p>
        <hr>
        <app-extwowaybinding></app-extwowaybinding>
    </div>

    <div class="section">
        <p>Exemple d'Event Binding</p>
        <hr>
        <app-exeventbinding></app-exeventbinding>
    </div>

    <div class="section">
        <p>Exemple de Property Binding</p>
        <hr>
        <app-expropertybinding></app-expropertybinding>
    </div>

    <div class="section">
        <p>Exemple d'interpolació amb un objecte (modelo Alumne)</p>
        <hr>
        <app-viewmodelo></app-viewmodelo>
    </div>

    <div class="section">
        <p>Exemple d'interpolació d'un mètode (getPuntuacio())</p>
        <hr>
        <app-interpolarmetodo></app-interpolarmetodo>
    </div>

    <div class="section">
        <p>Exemple de manipulació amb pipes)</p>
        <hr>
        <app-expipes></app-expipes>
    </div>

    <div class="section">
        <button type="button" class="btn btn-danger">Achtung!!</button>
    </div>

    <div class="section">
        <app-copyright></app-copyright>
    </div>
</div>

<router-outlet></router-outlet>