<div>
    <div class="section">
        Benvingut/da a <b>{{ titol }}</b>
    </div>

    <div class="section">
        <p>Exemple d'Event Binding</p>
        <hr>
        <app-exeventbinding></app-exeventbinding>
    </div>

    <div class="section">
        <p>Exemple de Property Binding</p>
        <hr>
        <app-expropertybinding></app-expropertybinding>
    </div>

    <div class="section">
        <p>Exemple d'interpolació amb un objecte (modelo Alumne)</p>
        <hr>
        <app-viewmodelo></app-viewmodelo>
    </div>

    <div class="section">
        <p>Exemple d'interpolació d'un mètode (getPuntuacio())</p>
        <hr>
        <app-interpolarmetodo></app-interpolarmetodo>
    </div>

    <div class="section">
        <button type="button" class="btn btn-danger">Achtung!!</button>
    </div>

    <div class="section">
        <app-copyright></app-copyright>
    </div>
</div>

<router-outlet></router-outlet>